{% extends "base.html" %}

{% block h1 %}Assign eLabels to Products{% endblock %}

{% block body %}
    <p>Scan or enter each product UPC and its eLabel barcode. Click save when all products and labels are scanned.</p>
    
    <div class="template">
        <div class="row productRow" data-idx="#">
            <div class="span1"><label>Product:</label></div>
            <div class="span3"><input type="text" class="barcode" id="idbarcode_1_#" name="barcode_1_#"></div>
            <div class="span3"><input type="text" class="barcode" id="idbarcode_2_#" name="barcode_2_#"></div>

            <div class="span6">
                <div class="barcodeDetails hide barcode_#">
                    <div class="info"></div>
                    <div class="edit hide">
                        <input type="text" class="title" id="idtitle_#" name="title_#" placeholder="Product Title...">
                        <input type="text" class="category" id="idcategory_#" name="category_#" placeholder="Category...">
                        $<input type="text" class="retail" id="idretail_#" name="retail_#" placeholder="Retail...">
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <form class="dataTable barcodeForm" action="" method="post">{% csrf_token %}
        <div class="row tableHeader">
            <div class="span3 offset1">Product UPC</div>
            <div class="span3">Label Barcode</div>
            <div class="span6">Product Description</div>
        </div>

        <div class="barcodes">
        </div>
        
        <div class="row">
            <br/>
            <div class="span5">
            <div class="form-actions pull-right">
                <a href="{% url products client.id %}" class="btn btn-cancel modal_close">Cancel</a>
                <input class="save btn btn-create" type="button" value="Submit Assignments" />
            </div>
            </div>
    </form>
    
    <script>
        $(function(){
            var rowCount = 0;
            
            $template = $(".template");
            
            $(".barcodeForm").submit(function(e){
                if (!confirm("Have you scanned or entered all product and eLabel barcodes?")){
                    e.preventDefault();
                    return false;
                }
            });
            
            $(".barcodeForm .barcode").live('change', function(){
                var upc = $(this).val();
                var idx = $(this).closest('.productRow').data('idx');
                var $productRow = $(this).closest('.productRow');
                console.log('doing ajax: ' + "/api/{{ client.client_key }}/product/" + upc + "/get-info/");
                if (!upc) return;
                $.ajax({
                    url: "/api/{{ client.client_key }}/product/" + upc + "/get-info/",
                    dataType: 'json',
                    cache: false,
                    success: function(res){
                        if (res && res.success && res.type == 'product'){
                            $productRow.find('.edit .title').val(res.title || '');
                            $productRow.find('.edit .category').val(res.category || '');
                            $productRow.find('.edit .retail').val(res.retail || '');

                            if (res.exists){
                                $productRow.find('.info').empty()
                                    .append($("<span>").addClass("title").html(res.title))
                                    .append($("<span>").addClass("retail").html(res.retail? "$"+res.retail : ""))
                                    .append($('<a href="javascript:">').html('Edit')
                                        .click(function(){
                                            $(this).parent().hide();
                                            $productRow.find(".edit").show();
                                        })
                                    )                                .show();
                            
                                $productRow.find('.barcodeDetails').show();
                                
                            }else if (upc){
                                $productRow.find('.info').empty()
                                    .append($('<a href="javascript:">').html('New product. Click to add details.')
                                        .click(function(){
                                            $(this).parent().hide();
                                            $productRow.find(".edit").show();
                                        })
                                    );

                                $productRow.find('.barcodeDetails').show();
                                
                            }else{
                                $productRow.find('.barcodeDetails').hide();
                            }

                        }
                    }
                })
            });
            
            $.fn.extend({
                bindNextKey: function(){
                    $(this).find('input').keypress(function(e){
                        var code = (e.keyCode ? e.keyCode : e.which);
                        if (code == 13 || code == 11 || code == 9){
                            var parts = $(this).attr('id').split('_');
                            var nextInput = parts[0] + '_' + ((parseInt(parts[1])%2)+1) + '_' + (parseInt(parts[2])+((parseInt(parts[1])+1)%2));
                            if ($("#"+nextInput).length<=0){
                                addNew();
                            }
                            $("#"+nextInput).focus();
                        }
                    });
                    return this;
                }
            });
            
            function addNew(){
                rowCount++;
                $('.barcodes').append($('<div>').append($template.clone().html().replace(/#/g, rowCount)).bindNextKey());
            }
            
            addNew();
            setTimeout(function(){$("#idbarcode_1_1").focus()},200);
            
            $('input.save').click(function(){$('form.barcodeForm').submit()});
        });
        
    </script>
{% endblock %}